<section class="my-skills-section" id="skills">
    <div class="headline blue anta">
        <span>{{ "nav.skills" | translate }}</span>
    </div>

    <section class="skills">
        <div class="skills-icons">
            <img src="assets/img/angular.png" alt="Angular">
            <img src="assets/img/typescript.png" alt="TypeScript">
            <img src="assets/img/javascript.png" alt="JavaScript">
            <img src="assets/img/html.png" alt="HTML">
            <img src="assets/img/css.png" alt="CSS">
            <img src="assets/img/firebase.png" alt="Firebase">
            <img src="assets/img/git.png" alt="GIT">
            <img src="assets/img/scrum.png" alt="Scrum">
            <img src="assets/img/materialdesign.png" alt="MaterialDesign">
        </div>

        <div class="currently-learning creme-white josefin-sans">
            <img class="bg-shape" src="assets/img/shape.png" alt="Shape">

            <div class="currently-learning-description">
                <span> {{ "skills.headline" | translate }} </span>

                <div class="currently-learning-img">
                    <img src="assets/img/angular.png" alt="Angular">
                    <img src="assets/img/typescript.png" alt="TypeScript">
                </div>

                <span>{{ "skills.description" | translate }}</span>
            </div>
        </div>

        <div class="currently-learning-resp josefin-sans d-none">
            <p class="blue">{{ "skills.headline" | translate }}</p>
            <div class="currently-learning-resp-description gap-36 creme-white">
                <span>{{ "skills.description" | translate }}</span>

                <div style="position: relative;">
                    <img src="assets/img/shape.png" alt="Shape">
                    
                    <div class="currently-learning-resp-img">
                        <img src="assets/img/angular.png" alt="Angular">
                        <img src="assets/img/typescript.png" alt="TypeScript">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>