<section class="my-skills-section" id="skills">
    <div class="headline blue anta">
        <span>My skills</span>
    </div>

    <section class="skills">
        <div class="skills-icons">
            <img src="assets/img/angular.png" alt="Angular">
            <img src="assets/img/typescript.png" alt="TypeScript">
            <img src="assets/img/javascript.png" alt="JavaScript">
            <img src="assets/img/html.png" alt="HTML">
            <img src="assets/img/css.png" alt="CSS">
            <img src="assets/img/firebase.png" alt="Firebase">
            <img src="assets/img/git.png" alt="GIT">
            <img src="assets/img/scrum.png" alt="Scrum">
            <img src="assets/img/materialdesign.png" alt="MaterialDesign">
        </div>

        <div class="currently-learning">
            <img src="assets/img/shape.png" alt="">
        </div>
    </section>
</section>