<section class="my-skills-section width-limit" id="skills">
    <div class="headline blue anta">
        <span>{{ "nav.skills" | translate }}</span>
    </div>

    <section class="skills">
        <div class="skills-icons">
            <div class="icons-and-txt blue josefin-sans">
                <img src="assets/img/angular-no-txt.png" alt="Angular">
                <span>Angular</span>
            </div>
            <div class="icons-and-txt blue josefin-sans">
                <img src="assets/img/ts-no-txt.png" alt="TypeScript">
                <span>TypeScript</span>
            </div>
            <div class="icons-and-txt blue josefin-sans">
                <img src="assets/img/js-no-txt.png" alt="JavaScript">
                <span>JavaScript</span>
            </div>
            <div class="icons-and-txt blue josefin-sans">
                <img src="assets/img/html-no-txt.png" alt="HTML">
                <span>HTML</span>
            </div>
            <div class="icons-and-txt blue josefin-sans">
                <img src="assets/img/css-no-txt.png" alt="CSS">
                <span>CSS</span>
            </div>
            <div class="icons-and-txt blue josefin-sans">
                <img src="assets/img/firebase-no-txt.png" alt="Firebase">
                <span>Firebase</span>
            </div>
            <div class="icons-and-txt blue josefin-sans">
                <img src="assets/img/github-no-txt.png" alt="GIT">
                <span>GitHub</span>
            </div>
            <div class="icons-and-txt blue josefin-sans">
                <img src="assets/img/scrum-no-txt.png" alt="Scrum">
                <span>Scrum</span>
            </div>
            <div class="icons-and-txt blue josefin-sans">
                <img src="assets/img/material-design-no-txt.png" alt="MaterialDesign">
                <span>Material<br> Design</span>
            </div>
        </div>

        <div class="currently-learning creme-white josefin-sans">
            <img class="bg-shape" src="assets/img/shape.png" alt="Shape">

            <div class="currently-learning-description">
                <span> {{ "skills.headline" | translate }} </span>

                <div class="currently-learning-img">
                    <div class="currently-learning-icons-and-txt">
                        <img src="assets/img/angular-no-txt.png" alt="Angular">
                        <span>Angular</span>
                    </div>
                    <div class="currently-learning-icons-and-txt">
                        <img src="assets/img/ts-no-txt.png" alt="TypeScript">
                        <span>TypeScript</span>
                    </div>
                </div>

                <span>{{ "skills.description" | translate }}</span>
            </div>
        </div>

        <div class="currently-learning-resp josefin-sans d-none">
            <p class="blue">{{ "skills.headline" | translate }}</p>
            <div class="currently-learning-resp-description gap-36 creme-white">
                <span>{{ "skills.description" | translate }}</span>

                <div style="position: relative;">
                    <img src="assets/img/shape.png" alt="Shape">

                    <div class="currently-learning-resp-img">
                        <img src="assets/img/angular-no-txt.png" alt="Angular">
                        <img src="assets/img/ts-no-txt.png" alt="TypeScript">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>