@import '../../../styles.scss';


.my-skills-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 80px;

    .skills {
        display: flex;
        gap: 80px;
        justify-content: center;

        @include respond(large) {
            align-items: center;
            flex-direction: column;
        }

        .skills-icons {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: space-between;
            max-width: 340px;

            @include respond(small) {
                gap: 10px;
                width: 280px;
            }
        }

        .currently-learning {
            position: relative;

            &:hover {
                .bg-shape {
                    opacity: 0.8;
                    transform: rotate(30deg);
                }
            }

            .currently-learning-img {
                display: flex;
                justify-content: space-around;

                img {
                    height: 50px;
                    width: 40px;
                }
            }

            .currently-learning-description {
                display: flex;
                flex-direction: column;
                gap: 16px;
                left: 50%;
                max-width: 260px;
                position: absolute;
                text-align: center;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            @include respond(small) {
                display: none;
            }
        }

        .currently-learning-resp {
            .currently-learning-resp-description {
                align-items: center;
                display: flex;
                justify-content: center;

                span {
                    width: 50%;
                }

                img {
                    width: 128px;
                }
            }

            .currently-learning-resp-img {
                display: flex;
                gap: 8px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);

                img {
                    height: 50px;
                    width: 40px;
                }
            }

            @include respond(small) {
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    padding-bottom: 16px;
                }
            }

            @include respond(xsmall) {
                .gap-36 {
                    gap: 0;
                }
            }
        }
    }
}