<footer class="footer">
    <div class="legal josefin-sans">
        <a href="#">Legal notice</a>
        <span>© Lukasz Barszczewski 2025</span>
    </div>

    <div class="d-flex-column-center">
        <img src="assets/img/logo-dark.png" alt="Foto background">
        <div class="logo-bottom d-flex-column-center">
            <span class="creme-white anta">L.Barszczewski</span>
            <p class="josefin-sans" style="color: rgba(38, 46, 52, 1);">developer</p>
        </div>
    </div>

    <div class="contact-btns">
        <a href="https://github.com/LukaszBarszczewski" target="_blank"><img src="assets/img/github-dark.png" alt="GitHub"></a>
        <a href="#contact"><img src="assets/img/email-dark.png" alt="Email"></a>
        <a href="#"><img src="assets/img/linkedin-dark.png" alt="Linked In"></a>
    </div>
</footer>


<footer class="footer-resp d-none gap-36">
    <div class="d-flex-column-center">
        <img src="assets/img/logo-dark.png" alt="Foto background">
        <div class="logo-bottom d-flex-column-center">
            <span class="creme-white anta">L.Barszczewski</span>
            <p class="josefin-sans" style="color: rgba(38, 46, 52, 1);">developer</p>
        </div>
    </div>

    <div class="contact-btns gap-36">
        <a href="https://github.com/LukaszBarszczewski"><img src="assets/img/github-white.png" alt="GitHub"></a>
        <a href="#contact"><img src="assets/img/email-white.png" alt="Email"></a>
        <a href="#"><img src="assets/img/linkedin-white.png" alt="Linked In"></a>
    </div>

    <div class="legal josefin-sans gap-36">
        <a href="#">Legal notice</a>
        <span>© Lukasz Barszczewski 2025</span>
    </div>
</footer>