@import '../../../styles.scss';


.footer {
    background-color: rgba(137, 188, 217, 1);
    width: 100vw;

    .footer-inner {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-inline: auto;
        max-width: 1440px;
        padding: 64px 0 64px 0;
        width: 100%;

        @include respond(medium) {
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    }

    .legal {
        color: rgba(38, 46, 52, 1);
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
            color: rgba(38, 46, 52, 1);
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: rgba(248, 245, 236, 1);
            }
        }
    }

    .contact-btns {
        display: flex;
        gap: 16px;

        img {
            height: 30px;
            width: 30px;

            &:hover {
                opacity: 0.5;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }

    @include respond(medium) {
        display: none;
    }
}











.footer-resp {
    background-color: rgba(137, 188, 217, 1);
    padding: 64px 0 64px 0;
    width: 100vw;

    .footer-inner-resp {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 32px;
        text-align: center;

        .logo-bottom {
            gap: 0;
        }

        .contact-btns {
            display: flex;
            gap: 24px;
            justify-content: center;

            img {
                height: 30px;
                opacity: 0.6;
                transition: opacity 0.2s ease-in-out;
                width: 30px;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .legal {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 8px;

            a {
                color: rgba(38, 46, 52, 1);
                text-decoration: none;

                &:hover {
                    color: rgba(248, 245, 236, 1);
                }
            }
        }
    }

    @include respond(medium) {
        display: flex;
        justify-content: center;
    }
}