<footer>
    <div class="legal">
        <a href="#">Legal notice</a>
        <span>© Lukasz Barszczewski 2025</span>
    </div>

    <div class="d-flex-column-center">
        <img src="assets/img/logo-dark.png" alt="Foto background">
        <div class="logo-bottom d-flex-column-center">
            <span class="creme-white">L.Barszczewski</span>
            <p style="color: rgba(38, 46, 52, 1);">developer</p>
        </div>
    </div>

    <div class="contact-btns">
        <a href="#"><img src="assets/img/github-dark.png" alt="GitHub"></a>
        <a href="#"><img src="assets/img/email-dark.png" alt="Email"></a>
        <a href="#"><img src="assets/img/linkedin-dark.png" alt="Linked In"></a>
    </div>
</footer>