@import '../../../styles.scss';


.footer {
    align-items: center;
    background-color: rgba(137, 188, 217, 1);
    display: flex;
    justify-content: space-around;
    padding: 64px;
    width: 93vw;

    .legal {
        color: rgba(38, 46, 52, 1);
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
            color: rgba(38, 46, 52, 1);
            text-decoration: none;

            &:hover {
                color: rgba(248, 245, 236, 1);
            }
        }
    }

    .contact-btns {
        display: flex;
        gap: 16px;

        img {
            height: 30px;
            width: 30px;

            &:hover {
                opacity: 0.5;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }

    @include respond(large) {
        padding: 64px 64px 64px 32px;
    }

    @include respond(medium) {
        display: none;
    }
}

.footer-resp {
    background-color: rgba(137, 188, 217, 1);
    padding: 64px;

    .contact-btns {
        display: flex;

        img {
            opacity: 0.6;

            &:hover {
                opacity: 1;
                transition: opacity 0.2s ease-in-out;
            }
        }
    }

    .legal {
        display: flex;

        a {
            color: rgba(38, 46, 52, 1);
            text-decoration: none;

            &:hover {
                color: rgba(248, 245, 236, 1);
            }
        }
    }

    @include respond(medium) {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}