<div class="logo">
    <img src="assets/img/logo-light.png" alt="Logo">

    <div class="logo-bottom d-flex-column-center">
        <span class="creme-white anta">L.Barszczewski</span>
        <p class="blue josefin-sans"> {{ "hero.title" | translate }} </p>
    </div>

</div>

<section class="email-confirmation">
    <div class="confirmation-text">
        <span class="blue anta">{{ 'email-confirmation.got-it' | translate }}</span>
        <p class="creme-white josefin-sans">{{ 'email-confirmation.thanks-message' | translate }}</p>
        <p class="creme-white josefin-sans">{{ 'email-confirmation.projects-message' | translate }}</p>
    </div>
    <button class="btn-dark blue josefin-sans" (click)="navigateBack()">
        {{ 'email-confirmation.button.back' | translate }}
    </button>
    <span style="opacity: 0.7;" class="creme-white josefin-sans">
        {{ 'email-confirmation.countdown-message' | translate: { countdown: countdown } }}
    </span>
</section>