<div class="logo">
    <img src="assets/img/logo-light.png" alt="Logo">

    <div class="logo-bottom d-flex-column-center">
        <span class="creme-white anta">L.Barszczewski</span>
        <p class="blue josefin-sans">developer</p>
    </div>

</div>
<section class="email-confirmation">
    <div class="confirmation-text">
        <span class="blue anta">Got it!</span>
        <p class="creme-white josefin-sans">Thanks for getting in touch - I'll reply as soon as I can.</p>
        <p class="creme-white josefin-sans">Until then, why not take a look at my projects?</p>
    </div>
    <button class="btn-dark blue josefin-sans" (click)="navigateBack()">Back</button>
    <span style="opacity: 0.7;" class="creme-white josefin-sans">Returning to main page in: {{ countdown }} seconds</span>
</section>