@import "../../../styles.scss";


.privacy-policy {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-break: normal;
    margin: 80px auto 80px auto;
    text-align: center;

    h1 {
        font-size: 24px;
    }

    ul>li {
        color: rgba(248, 245, 236, 1);
    }
    
    a {
        color: rgba(248, 245, 236, 1);
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            color: rgba(137, 188, 217, 1);
        }
    }
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }