<div class="headline margin-80-0 prevent-headline-behind-menu-bar" id="projects">
  <span class="blue anta"> {{ "projects.title" | translate }} </span>
</div>

<section class="projects josefin-sans width-limit">
  <div class="projects-container">
    <div class="project-header">
      @for (project of translatedProjects; track $index) {
      <span [class.active]="$index === activeProjectIndex" class="project-title blue"
        (click)="selectProject($index)">{{$index + 1}}. {{ project.title }} </span>
      }
    </div>

    <div class="project-cards creme-white">
      @for (project of translatedProjects; track $index) {
      <app-project-card [hidden]="$index !== activeProjectIndex" [title]="project.title" [image]="project.image"
        [abouts]="project.abouts" [organization]="project.organization" [groupwork]="project.groupwork"
        [technologies]="project.technologies" [link]="project.link" [live]="project.live">
        [image]="project.image" [link]="project.link">
      </app-project-card>
      }
    </div>
  </div>
</section>