@import '../../../styles.scss';


.headline {
  display: flex;
  justify-content: center;
}

.projects {
  align-items: baseline;
  flex-direction: column;
  gap: 80px;

  .projects-container {
    max-height: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-header {
      height: 66px;
    }

    .project-title {
      font-family: 'Josefin Sans';
      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
      padding: 32px;
      border-radius: 32px 32px 0 0;
      cursor: pointer;

      @include respond(large) {
        padding: 16px 16px 2px 16px;
        border-radius: 32px 32px 0 0;
      }

      @include respond(medium) {
        font-size: 24px;
        padding: 16px 16px 5px 16px;
      }

      @include respond(small) {
        font-size: 12px;
        padding: 16px 16px 11px 16px;
      }
    }
  }
}

.active {
  color: rgba(248, 245, 236, 1);
  background-color: #89BCD912;
}