@import '../../../styles.scss';


.headline {
  display: flex;
  justify-content: center;

  @include respond(small) {
    text-align: center;
  }
}

.projects {
  align-items: baseline;
  flex-direction: column;
  gap: 80px;

  .projects-container {
    align-items: center;
    display: flex;
    flex-direction: column;

    .project-header {
      height: 66px;

      span:hover {
        color: rgba(248, 245, 236, 1);
      }
    }

    .project-title {
      border-radius: 32px 32px 0 0;
      cursor: pointer;
      font-family: 'Josefin Sans';
      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
      padding: 32px;

      @include respond(medium) {
        font-size: 20px;
        padding: 32px 32px 7px 32px;
      }

      @include respond(small) {
        font-size: 12px;
        padding: 16px 16px 11px 16px;
      }
    }

    @include respond(medium) {
      height: 42px;
    }
  }

  @include respond(medium) {
    min-height: 950px;
  }

  @include respond(small) {
    min-height: 1000px;
  }

  @include respond(xsmall) {
    min-height: 1100px;
  }
}

.active {
  animation: fadeSlideIn 2s ease-out forwards;
  background-color: #89BCD912;
  color: rgba(248, 245, 236, 1);
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}