.headline {
  display: flex;
  justify-content: center;
}

.projects {
  align-items: baseline;
  flex-direction: column;
  gap: 80px;

  .projects-container {
    max-height: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-header {
      height: 66px;
    }

    .project-title {
      font-family: 'Josefin Sans';
      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
      padding: 32px;
      border-radius: 32px 32px 0 0;
      cursor: pointer;
    }
  }
}

.active {
  color: rgba(248, 245, 236, 1);
  background-color: #89BCD912;
}