@import '../../../styles.scss';


.hero-section {
    display: flex;
    align-items: center;
    margin-top: 80px;

    @include respond(large) {
        flex-direction: column;
        text-align: center;
    }

    @include respond(medium) {
        // margin-left: 32px;
    }

    @include respond(small) {}

    .logo-responsive {
        .hamburger-menu {
            width: 32px;
            height: 32px;

            &:hover {
                cursor: pointer;
            }
        }

        @include respond(large) {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-bottom: 64px;
        }
    }

    .d-none {
        @include respond(large) {
            display: flex;
        }
    }

    .foto-section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .profile-wrapper {
            position: relative;
            display: inline-block;

            img {
                display: block;
              }
          
              .profile-pic {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
        }

        @include respond(medium) {
            img {
                width: 480px;
            }
        }

        @include respond(small) {
            img {
                width: 280px;
            }
        }


        @include respond(small) {}
    }

    .introduction {
        width: 50%;
        position: relative;

        .logo-and-links {
            
        }

        .links {
            position: absolute;
            top: 0px;
            right: 88px;
            display: flex;
            gap: 8px;

            img {
                border-radius: 18px;

                &:hover {
                    box-shadow: 0 0 16px rgba(137, 188, 217, 0.5);
                    transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
                    cursor: pointer;
                }
            }

            @include respond(large) {
                display: none;
            }
        }

        .name {
            font-size: 88px;
            margin-bottom: 16px;

            @include respond(medium) {
                font-size: 48px;
            }

            @include respond(small) {
                font-size: 32px;
            }
        }

        .function {
            font-size: 40px;

            @include respond(medium) {
                font-size: 24px;
            }

            @include respond(small) {
                font-size: 16px;
            }
        }


        .name-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;



            @include respond(small) {}
        }

        .logo-high-resolution {
            display: flex;

            @include respond(large) {
                display: none;
            }
        }
    }

    .menu-resp {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}