.hero-section {
    display: flex;
    align-items: center;
    margin-top: 80px;

    .foto-section {
        width: 50%;
        height: 610px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introduction {
        
        .name-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}









