<section class="hero-section">
    <div class="d-none logo-responsive">
        <div>
            <img src="assets/img/logo-light.png" alt="Logo">

            <div class="logo-bottom">
                <span class="creme-white anta">L.Barszczewski</span>
                <p class="blue josefin-sans">{{ 'hero.title' | translate }}<p>
            </div>
        </div>

        <img class="hamburger-menu" (click)="unwrapHamburgerMenu()" src="assets/img/hamburger-menu.png" alt="">
    </div>

    <section class="foto-section">
        <div class="profile-wrapper">
            <div id="profile-pic" class="profile-pic">
                @if (menuOpen) {
                <div class="menu-resp">
                    <div class="menu-button josefin-sans"><a href="#why-me">Why me</a></div>
                    <div class="menu-button josefin-sans"><a href="#skills">Skills</a></div>
                    <div class="menu-button josefin-sans"><a href="#projects">Projects</a></div>
                    <div class="menu-button josefin-sans"><a href="#contact">Contact</a></div>
                </div>
                } @else {
                <img src="assets/img/dein-bild.png" alt="Profilbild">
                }
            </div>

            <img src="assets/img/bg-shape.png" alt="Background Shape">
        </div>
    </section>

    <section class="introduction">
        <section class="d-flex-column-center gap-36">
            <div class="logo-and-links">
                <div class="d-flex-column-center logo-high-resolution">
                    <img src="assets/img/logo-light.png" alt="Logo">

                    <div class="logo-bottom d-flex-column-center">
                        <span class="creme-white anta">L.Barszczewski</span>
                        <p class="blue josefin-sans">{{ 'hero.title' | translate }}</p>
                    </div>
                </div>
            </div>

            <div class="d-flex-column-center links">
                <a href="#contact"><img src="assets/img/email-blue.png" alt="Email"></a>
                <a href="https://github.com/LukaszBarszczewski" target="_blank"><img src="assets/img/github-blue.png"
                        alt="GitHub"></a>
                <a href="https://www.linkedin.com/in/lukasz-barszczewski-182685328/" target="_blank"><img
                        src="assets/img/linkedin-blue.png" alt="LinkedIn"></a>
            </div>

            <div class="name-section creme-white">
                <span class="anta name">Lukasz <br> Barszczewski</span>
                <span class="josefin-sans function">{{ 'hero.job' | translate }}</span>
            </div>
        </section>
    </section>
</section>