<section class="hero-section">
    <section class="foto-section">
        <div>
            <img src="assets/img/bg-shape.png" alt="Logo">
        </div>
    </section>

    <section class="introduction">

        <section class="logo-and-name-section">
            <div class="logo-section">
                <img src="assets/img/logo-light.png" alt="Logo">
        
                <div class="logo-bottom">
                    <span class="creme-white">L.Barszczewski</span>
                    <p class="blue">developer</p>
                </div>
            </div>    

            <div class="name-section creme-white">
                <span style="font-size: 88px;">Lukasz Barszczewski</span>
                <span style="font-size: 40px;">FRONTEND DEVELOPER</span>
            </div>
        </section>
        
    </section>
</section>