<section class="hero-section">
    <section class="foto-section">
        <div>
            <img src="assets/img/bg-shape.png" alt="Logo">
        </div>
    </section>

    <section class="introduction">

        <section class="d-flex-column-center">
            <div class="d-flex-column-center">
                <img src="assets/img/logo-light.png" alt="Logo">
        
                <div class="logo-bottom d-flex-column-center">
                    <span class="creme-white anta">L.Barszczewski</span>
                    <p class="blue josefin-sans">developer</p>
                </div>
            </div>    

            <div class="name-section creme-white">
                <span class="anta" style="font-size: 88px;">Lukasz Barszczewski</span>
                <span class="josefin-sans" style="font-size: 40px;">FRONTEND DEVELOPER</span>
            </div>
        </section>
        
    </section>
</section>