@import "../../../styles.scss";


.contact-me-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  position: relative;

  .headline {
    text-align: center;

    @include respond(xsmall) {
      font-size: 38px;
      margin: 0 16px;
      text-align: center;
    }
  }

  .get-in-touch {
    display: flex;
    gap: 64px;
    width: 80%;

    .tel-mail {
      a {
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: rgba(137, 188, 217, 1);
        }
      }
    }

    .text {
      width: 50%;

      @include respond(large) {
        text-align: center;
      }
    }

    .icon-text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
    }

    @include respond(large) {
      flex-direction: column;

      .text {
        width: 100%;
      }
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 80%;

    .message {
      textarea::placeholder {
        color: transparent;

        @include respond(medium) {
          color: gray;
        }
      }

      @include respond(medium) {
        label {
          display: none;
        }
      }
    }

    label {
      font-size: 18px;

      a {
        text-decoration: none;
      }
    }

    input,
    textarea {
      background: none;
      border: 1px solid rgba(137, 188, 217, 1);
      border-radius: 30px;
      color: rgba(248, 245, 236, 1);
      font-size: 16px;
      padding: 1.25rem;
      transition: 0.5s ease-in-out, border-color 0.5s ease-in-out,
      color 0.5s ease-in-out;
      width: 100%;

      &:focus {
        background: rgba(137, 188, 217, 0.2);
        border-color: rgba(137, 188, 217, 1);
        outline: none;
      }

      @include respond(small) {
        padding: 1rem 4rem 1rem 1rem;
      }

      @include respond(xsmall) {
        padding: 1rem 2rem 1rem 1rem;
      }
    }

    textarea {
      height: 120px;
      resize: none;
    }

    .name-and-email-inputs {
      display: flex;
      justify-content: space-between;

      @include respond(medium) {
        gap: 16px;
      }

      .name-and-email {
        width: 45%;

        input::placeholder {
          color: transparent;
        }

        @include respond(medium) {
          label {
            display: none;
          }

          input::placeholder {
            color: gray;
          }
        }
      }

      @include respond(medium) {
        flex-direction: column;

        .name-and-email {
          width: 100%;
        }
      }
    }

    .checkbox-container {
      display: flex;
      flex-direction: column;

      a:hover {
        color: rgba(248, 245, 236, 1);
        cursor: pointer;
      }

      input {
        width: 16px;
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        height: 24px;
        outline: none;
        padding: 0;
        width: 24px;
      }

      input[type="checkbox"]::before {
        content: "";
      }

      input[type="checkbox"]::after {
        content: url("/assets/img/checkbox-unchecked.png");
      }

      input[type="checkbox"]:checked::before {
        content: "";
      }

      input[type="checkbox"]:checked:after {
        background-image: url("/assets/img/ellipse.png");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: block;
        height: 24px;
        width: 24px;
      }

      button:disabled {
        border-color: gray;
        color: gray;
        cursor: not-allowed;
      }
    }

    @include respond(small) {
      align-items: flex-start;
      width: 80%;
    }
  }

  .arrow-up {
    position: absolute;
    right: 15%;

    @include respond(medium) {
      display: none;
    }
  }

  @include respond(medium) {
    .d-none {
      display: block;
    }
  }
}