.contact-me-section {
    display: flex;
    align-items: center;
    flex-direction: column;

    .get-in-touch {
        display: flex;
        gap: 36px;
        width: 60vw;

        .text {
            width: 50%;
        }

        .icon-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 60%;

        label {
            font-size: 18px;

            a {
                text-decoration: none;
            }
        }

        input,
        textarea {
            width: 100%;
            padding: 20px;
            border: 1px solid rgba(137, 188, 217, 1);
            border-radius: 30px;
            font-size: 16px;
            background: none;
            color: rgba(248, 245, 236, 1);
            transition: 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out;


            &:focus {
                background: rgba(137, 188, 217, 0.2);
                border-color: rgba(137, 188, 217, 1);
                outline: none;
            }
        }

        textarea {
            height: 120px;
            resize: none;
        }

        .name-and-email-inputs {
            display: flex;
            justify-content: space-between;

            .name-and-email {
                width: 45%;
            }
        }

        .checkbox-container {
            display: flex;
            flex-direction: column;

            input {
                width: 16px;
            }

            input[type="checkbox"] {
                -webkit-appearance: none;
                appearance: none;
                background: none;
                border: none;
                cursor: pointer;
                height: 24px;
                width: 24px;
                outline: none;
                padding: 0;
            }

            input[type="checkbox"]::before {
                content: "";
            }

            input[type="checkbox"]::after {
                content: url("/assets/img/checkbox-unchecked.png");
            }

            input[type="checkbox"]:checked::before {
                content: "";
            }

            input[type="checkbox"]:checked:after {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background-image: url("/assets/img/ellipse.png");
                background-size: contain;
                background-repeat: no-repeat;
            }

            button:disabled {
                cursor: not-allowed;
                border-color: gray;
                color: gray;
            }
        }
    }
}