.contact-me-section {
    display: flex;
    align-items: center;
    flex-direction: column;

    .get-in-touch {
        display: flex;
        gap: 36px;
        width: 60vw;

        .text {
            width: 50%;
        }

        .icon-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 60%;

        label {
            font-size: 18px;
            font-weight: bold;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        textarea {
            height: 120px;
            resize: none;
        }

        .name-and-email-inputs {
            display: flex;
            justify-content: space-between;

            .name-and-email {
                width: 45%;
            }
        }

        .checkbox-container {
            display: flex;
            
            input {
                width: 16px;
            }
        }

        button {
            padding: 12px 24px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}