<section class="contact-me-section gap-36 margin-80-0" id="contact">
    <div class="headline blue anta">
        <span>Contact me</span>
    </div>

    <section class="get-in-touch creme-white josefin-sans">
        <div class="text">
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente natus in, consectetur, aliquam
                doloremque fugiat voluptatibus velit sunt quod adipisci temporibus quam accusantium nam autem iure
                expedita. Explicabo, accusamus delectus?</span>
        </div>
        <div class="tel-mail">
            <div class="icon-text">
                <img src="assets/img/email.png" alt="Email">
                <span>E-mail: lukasz.barszczewski&#64;yahoo.com</span>
            </div>
            <div class="icon-text gap-36">
                <img src="assets/img/phone.png" alt="Phone">
                <span>Tel: 01724342490</span>
            </div>
        </div>
    </section>

    <form class="contact-form josefin-sans">

        <div class="name-and-email-inputs">
            <div class="name-and-email blue">
                <label for="name">Your Name</label>
                <input type="text" id="name" name="name" required autocomplete="off">
            </div>

            <div class="name-and-email blue">
                <label for="email">Your Email</label>
                <input type="email" id="email" name="email" required autocomplete="off">
            </div>
        </div>

        <div>
            <label class="blue" for="message">Your Message</label>
            <textarea id="message" name="message" required></textarea>
        </div>

        <div class="checkbox-container creme-white">
            <div style="display: flex; align-items: center;">
                <input type="checkbox" id="privacy" name="privacy" required (change)="updateButtonState($event)">
                <label for="privacy">
                    I've read the <a class="blue" href="#">privacy policy</a> and agree to the processing of my data as outlined.
                </label>
            </div>
        
            <div [style]="{ display: 'flex', justifyContent: 'flex-end' }">
                <button class="btn-dark blue josefin-sans" type="submit" [disabled]="isDisabled">Send</button>
            </div>
        </div>

    </form>
</section>