<section class="references-section margin-80-0 josefin-sans">
    <div class="title blue">
        <span>{{ "references.headline" | translate }}</span>
    </div>

    <div class="title-resp d-none">
        <span class="blue anta">{{ "references.headline.firstline" | translate }}</span>
        <p class="creme-white josefin-sans">{{ "references.headline.secondline" | translate }}</p>
    </div>

    <div class="references">
        <div class="reference creme-white josefin-sans">
            <img class="bg-shape" src="assets/img/shape.png">
            <div class="reference-description">
                <div class="reference-title">
                    <span class="reference-colleague">Lea Cotar</span>
                    <span>Project <a class="blue" href="https://github.com/johannesngl/join">JOIN</a></span>
                </div>

                <span>
                    "{{ "references.reference.first" | translate }}"
                </span>

                <a href="https://www.linkedin.com/in/leacotar/" class="reference-linkedin blue" target="_blank">LinkedIn
                    Profile</a>
            </div>
        </div>

        <div class="reference creme-white">
            <img class="bg-shape" src="assets/img/shape.png">

            <div class="reference-description">
                <div class="reference-title">
                    <span class="reference-colleague">Johannes Singl</span>
                    <span>Project <a class="blue" href="https://github.com/johannesngl/join">JOIN</a></span>
                </div>
                <span>
                    "{{ "references.reference.second" | translate }}"
                </span>
                <a href="https://www.linkedin.com/in/johannes-singl-1920aa33b/"
                    class="reference-linkedin blue" target="_blank">LinkedIn
                    Profile</a>
            </div>
        </div>

        <div class="reference creme-white">
            <img class="bg-shape" src="assets/img/shape.png">

            <div class="reference-description">
                <div class="reference-title">
                    <span class="reference-colleague">Jan Cieslik</span>
                    <span>Project <a class="blue">-</a></span>
                </div>

                <span>
                    "{{ "references.reference.third" | translate }}"
                </span>
                <a class="blue" href="https://www.linkedin.com/in/jan-cieslik-6a2663234/"
                    class="reference-linkedin blue" target="_blank">LinkedIn
                    Profile</a>
            </div>

        </div>
    </div>
</section>