<section class="references-section margin-80-0 josefin-sans">
    <div class="title blue">
        <span>Need a teamplayer? Here's what my colleagues said about me</span>
    </div>

    <div class="title-resp d-none">
        <span class="blue anta">Need a teamplayer?</span>
        <p class="creme-white josefin-sans">Here's what my colleagues said about me</p>
    </div>

    <div class="references">
        <div>
            <img class="bg-shape" src="assets/img/shape.png">
        </div>
        <div>
            <img class="bg-shape" src="assets/img/shape.png">
        </div>
        <div>
            <img class="bg-shape" src="assets/img/shape.png">
        </div>
    </div>
</section>