<section class="references-section margin-80-0 josefin-sans">
    <div class="title blue">
        <span>Need a teamplayer? Here's what my colleagues said about me</span>
    </div>

    <div class="title-resp d-none">
        <span class="blue anta">Need a teamplayer?</span>
        <p class="creme-white josefin-sans">Here's what my colleagues said about me</p>
    </div>

    <div class="references">
        <div class="reference creme-white josefin-sans">
            <img class="bg-shape" src="assets/img/shape.png">
            <div class="reference-description">
                <div class="reference-title">
                    <span class="reference-colleague">John Doe</span>
                    <span>Project <a class="blue" href="https://github.com/johannesngl/join">JOIN</a></span>
                </div>

                <span>
                    "Die Zusammenarbeit mit Lukasz war ausgezeichnet. Mit Kreativität, Know-how und Teamgeist trug er
                    wesentlich zum Projekterfolg bei."
                </span>

                <a href="https://www.linkedin.com/in/jan-cieslik-6a2663234/" class="reference-linkedin blue">LinkedIn Profile</a>
            </div>
        </div>

        <div class="reference creme-white">
            <img class="bg-shape" src="assets/img/shape.png">

            <div class="reference-description">
                <div class="reference-title">
                    <span class="reference-colleague">John Doe</span>
                    <span>Project <a class="blue" href="https://github.com/johannesngl/join">JOIN</a></span>
                </div>
                <span>
                    "Die Zusammenarbeit mit Lukasz war großartig. Mit seinem Know-how, seiner lösungsorientierten Art und
                    Hilfsbereitschaft trug er maßgeblich zum Erfolg bei und machte die Arbeit angenehm und produktiv."
                </span>
                <a class="blue" href="https://www.linkedin.com/in/jan-cieslik-6a2663234/"
                    class="reference-linkedin blue">LinkedIn
                    Profile</a>
            </div>
        </div>

        <div class="reference creme-white">
            <img class="bg-shape" src="assets/img/shape.png">

            <div class="reference-description">
                <div class="reference-title">
                    <span class="reference-colleague">Jan Cieslik</span>
                    <span>Project <a class="blue">-</a></span>
                </div>

                <span>
                    "Lukasz beeindruckt durch seine schnelle Auffassungsgabe und Begeisterung für neue Themen. Er scheut
                    keine Extrameile und unterstützt sein Umfeld stets hilfsbereit und mit positiver Energie."
                </span>
                <a class="blue" href="https://www.linkedin.com/in/jan-cieslik-6a2663234/"
                    class="reference-linkedin blue">LinkedIn
                    Profile</a>
            </div>

        </div>
    </div>
</section>