@import '../../../styles.scss';


.menu-bar {
    background-color: rgba(137, 188, 217, 1);
    width: 101vw;

    @include respond(large) {
        display: none;
    }

    .menu-system {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 16px 109px;
    }
}