<section class="menu-bar">
    <div class="menu-system">
        <div>
            <img src="assets/img/logo-dark.png" alt="Foto background">
            <div class="logo-bottom">
                <span class="creme-white">L.Barszczewski</span>
                <p class="">developer</p>
            </div>
        </div>
        
        <div class="menu-button">
            <a href="#">Why me</a>
        </div>
        <div class="menu-button">
            <a href="#">Skills</a>
        </div>
        <div class="menu-button">
            <a href="#">Projects</a>
        </div>
        <div class="menu-button">
            <a href="#">Contact</a>
        </div>
    </div>
</section>