<section class="menu-bar">
    <div class="menu-system">
        <div class="d-flex-column-center">
            <img src="assets/img/logo-dark.png" alt="Logo">
            <div class="logo-bottom d-flex-column-center">
                <span class="creme-white">L.Barszczewski</span>
                <p style="color: rgba(38, 46, 52, 1);">developer</p>
            </div>
        </div>
        
        <div class="menu-button">
            <a href="#">Why me</a>
        </div>
        <div class="menu-button">
            <a href="#">Skills</a>
        </div>
        <div class="menu-button">
            <a href="#">Projects</a>
        </div>
        <div class="menu-button">
            <a href="#">Contact</a>
        </div>
    </div>
</section>