@import '../../../styles.scss';


.project-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  flex: 2 1;
  width: 100vw;
  padding: 15px 0;
  background: #89bcd912;

  .live-test-resp {
    display: none;
  }

  @include respond(large) {
    flex-direction: column;
    align-items: center;

    .d-none {
      display: block;
    }

    .live-test-resp {
      display: flex;
      justify-content: center;
      gap: 8px;
      width: inherit;
      padding-bottom: 16px;
    }
  }

  @include respond(medium) {
    border-radius: 0 0 80px 80px;
  }

  p {
    font-size: 28px;
  }

  .project-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 60%;

    @include respond(large) {
      width: 100%;

      ul {
        padding: 0 40px;
      }
    }

    li {
      list-style-type: none;
    }

    .project-description-section {
      display: flex;
      padding: 32px 0;

      img {
        width: 26px;
        height: 26px;
      }

      .ellipse-full-screen {
        @include respond(large) {
          display: none;

        }
      }

      .project-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        p {
          margin: 0 0 16px 0;
        }

        .ellipse-resp {
          display: flex;
          gap: 16px;

          @include respond(small) {
            img {
              width: 16px;
              height: 16px;
            }
          }

        }
      }
    }
  }

  .project-test-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include respond(large) {
      display: none;
    }
  }

  .technologies-img {
    display: flex;
    justify-content: space-around;
    gap: 16px;
  }

  .btn-section {
    display: flex;
  }

  .img-resp {
    .technologies-img-resp {
      display: flex;
      justify-content: space-around;
      padding: 16px 0;

      @include respond(small) {
        img {
          width: 32px;
        }
      }

    }

    .screenshot {
      max-width: 450px;
      border-radius: 30px;

      @include respond(small) {
        max-width: 270px;
      }
    }
  }

  p {
    @include respond(large) {
      color: rgba(137, 188, 217, 1);
    }

    @include respond(small) {
      font-size: 16px;
    }
  }
}