<div class="project-card">

  <div class="project-description">
    <ul>
      @for (detail of details; track detail) {
      <li>
          <p>About The Project</p>
         <span>{{ detail }}</span>  
      </li>
      }
    </ul>
  </div>

  <div class="poject-test-section">
    <span>Technologies</span>
    <img [src]="image" [alt]="title">
    <div class="btn-section">
      <button class="btn-light">Live Test</button>
      <button class="btn-dark">Git Hub</button>
    </div>
  </div>

</div>