<div class="project-card">

  <div class="project-descriptions">
    <ul>
      <section class="project-description-section gap-36">
        <img src="assets/img/ellipse.png" alt="Ellipse">
        <div class="project-description">
          <p>About the project</p>
          <li>
            <span>{{ abouts }}</span>
          </li>
        </div>
      </section>

      <section class="project-description-section gap-36">
        <img src="assets/img/ellipse.png" alt="Ellipse">
        <div class="project-description">
          <p>How I have organized my work process</p>
          <li>
            <span>{{ organization }}</span>
          </li>
        </div>
      </section>

      <section class="project-description-section gap-36">
        <img src="assets/img/ellipse.png" alt="Ellipse">
        <div class="project-description">
          <p>My group work experience</p>
          <li>
            <span>{{ groupwork }}</span>
          </li>
        </div>
      </section>
    </ul>
  </div>

  <div class="poject-test-section">
    <span>Technologies</span>
    <img [src]="image" [alt]="title">
    <div class="btn-section">
      <button class="btn-light">Live Test</button>
      <button class="btn-dark">Git Hub</button>
    </div>
  </div>

</div>