<div class="logo">
    <img src="assets/img/logo-light.png" alt="Logo">

    <div class="logo-bottom d-flex-column-center">
        <span class="creme-white anta">L.Barszczewski</span>
        <p class="blue josefin-sans">developer</p>
    </div>

</div>

<section class="legal-notice">
    <h1 class="headline blue anta">Legal Notice</h1>

    <h2 class="creme-white anta">Responsible for the Content</h2>
    <p class="creme-white josefin-sans">
        <strong>Lukasz Barszczewski</strong><br>
        Stuttbergstraße 31<br>
        Wuppertal, 42107 Germany<br>
        <a class="creme-white" href="mailto:lukasz.barszczewski@yahoo.com">lukasz.barszczewski&commat;yahoo.com</a><br>
        
    </p>

    <h2 class="creme-white anta">Disclaimer</h2>
    <p class="creme-white josefin-sans">
        The information provided on this website is for general informational purposes only. 
        While I strive to keep the content up to date and correct, I make no representations or warranties of any kind, 
        express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, 
        projects, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
    </p>

    <h2 class="creme-white anta">External Links</h2>
    <p class="creme-white josefin-sans">
        This website contains links to external websites (e.g., GitHub, LinkedIn, and project demos) over which I have no control. 
        Therefore, I cannot accept any responsibility for the content of these external websites. 
        The responsibility for the linked pages lies solely with their operators.
    </p>

    <h2 class="creme-white anta">Copyright</h2>
    <p >    <p class="creme-white josefin-sans">        All content on this website, including text, images, and code, is protected by copyright. 
        Unauthorized use, reproduction, or distribution of the material is prohibited without prior written permission.
    </p>

    <h2 class="creme-white anta">Data Protection</h2>
    <p class="creme-white josefin-sans">
        Your personal data (e.g., your name or email address submitted through the contact form) will be handled confidentially and only used to respond to your inquiries. 
        For more details, please refer to the <a (click)="navigateToPrivacy()">Privacy Policy</a> (if applicable).
    </p>

    <button style="margin-top: 32px;" class="btn-dark blue josefin-sans" (click)="navigateBack()">Back</button>    
</section>
