@import "../../../styles.scss";


.legal-notice {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
    text-align: center;
    
    a {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: rgba(137, 188, 217, 1);
        }
    }
}