@import "../../../styles.scss";


.legal-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 64px 72px 64px;
    text-align: center;
    
    a {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: rgba(137, 188, 217, 1);
        }
    }
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }