@font-face {
    font-family: JosefinSans;
    src: url(assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Anta;
    src: url(assets/fonts/Anta/Anta-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(38, 46, 52, 1);
    margin: 0;
    overflow-x: hidden;
}

.prevent-headline-behind-menu-bar {
    scroll-margin-top: 120px;
}

.width-limit {
    margin: 80px auto 0 auto;
    max-width: 1440px;
}

.josefin-sans {
    font-family: 'JosefinSans';
}

.anta {
    font-family: 'Anta';
}

.d-flex-column-center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.logo-bottom {
    font-size: 16px;

    span {
        font-weight: 400;
    }

    p {
        font-weight: 300;
        margin: 0;
    }
}

.gap-36 {
    gap: 36px;
}

.margin-80-0 {
    margin: 80px 0;
}

.headline {
    font-size: 60px;
}

.creme-white {
    color: rgba(248, 245, 236, 1);
}

.blue {
    color: rgba(137, 188, 217, 1);
}

.btn-dark {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    background: none;
    border: 1px solid rgba(137, 188, 217, 1);
    border-radius: 30px;
    opacity: 0;
    padding: 13px 30px;
    width: 134px;

    &:hover {
        background: rgba(137, 188, 217, 0.2);
        cursor: pointer;
    }
}

.btn-light {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    background: rgba(137, 188, 217, 1);
    border: none;
    border-radius: 30px;
    opacity: 0;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    width: 134px;

    &:hover {
        background: rgba(248, 245, 236, 1);
        cursor: pointer;
    }
}

.visible-button {
    animation-name: btnLoad;
}

.visible-name {
    animation-name: nameLoad;
}

@keyframes nameLoad {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes btnLoad {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu-button {
    font-size: 26px;

    a {
        color: rgba(38, 46, 52, 1);
        text-decoration: none;

        &:hover {
            color: rgba(248, 245, 236, 1);
        }
    }
}

.menu-bar-buttons-switch-language {
    display: flex;
    justify-content: center;
    gap: 6px;

    button {
        background-size: contain;
        background: url('/assets/img/ellipse.png') no-repeat center center;
        border: 0;
        color: #262E34;
        cursor: pointer;
        font-family: 'JosefinSans';
        padding: 10px;

        &:disabled {
            background-image: url('/assets/img/ellipse-menu.png');
            color: rgba(248, 245, 236, 1);
            opacity: 1 !important;
        }

        &:hover {
            background-image: url('/assets/img/ellipse-menu.png');
            color: rgba(248, 245, 236, 1);
            opacity: 0.7;
            transition: color 0.3s ease-in-out;
        }
    }
}

.d-none {
    display: none;
}

.scroll-arrow {
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

// RESPONSIVENESS:

$breakpoints: (
    xsmall: 400px,
    small: 580px,
    medium: 720px,
    large: 1215px,
    xlarge: 1280px
);

@mixin respond($size) {
    @media (max-width: map-get($breakpoints, $size)) {
        @content;
    }
}