<section class="why-me-section width-limit prevent-headline-behind-menu-bar" id="why-me">
    <div class="headline blue anta">
        <span>{{ "nav.why-me" | translate }}</span>
    </div>

    <div class="why-me-info josefin-sans">
        <div class="location-info creme-white">
            <img class="pin" src="assets/img/pin.png" alt="Pin">
            <img class="d-none" src="assets/img/no-bg-pin.png" alt="Pin">

            <span>
                <p class="blue">{{ "why-me.iam" | translate }} <p> {{ "why-me.location" | translate }} Wuppertal..|
            </span>
        </div>

        <div class="about-me-text half creme-white">
            <span>{{ "why-me.description" | translate }}</span>

            <a href="#contact"><button class="btn-dark blue josefin-sans">{{ "why-me.cta" | translate }}</button></a>
        </div>
    </div>
</section>