<section class="why-me-section margin-80-0" id="why-me">
    <div class="headline blue anta">
        <span>Why me?</span>
    </div>

    <div class="why-me-info josefin-sans">
        <div class="location-info half creme-white">
            <img src="assets/img/pin.png" alt="">
            <span style="display: flex; justify-content: center; align-items: center; gap: 4px;"><p class="blue">I am</p> located in Wuppertal..|</span>
        </div>
        <div class="about-me-text half creme-white">
            <span>Analytical thinking, creativity and teamwork - finding solutions is what I love coding for. My focus is on clean code, performance, and delivering a great user experience. As a frontend developer, I enjoy turning designs into interactive and user-friendly interfaces.</span>
            <button class="btn-dark blue josefin-sans">
                Let's talk
            </button>
        </div>
    </div>
</section>