<section class="why-me">
    <div class="headline blue">
        <span>Why me?</span>
    </div>

    <div class="why-me-info">
        <div class="location-info half creme-white">
            <span style="display: flex; justify-content: center; align-items: center; gap: 4px;"><p class="blue">I am</p> located in Wuppertal..|</span>
        </div>
        <div class="about-me-text half creme-white">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quasi aperiam deleniti nemo incidunt. Eos molestiae ut, eaque, dicta dignissimos sit fugit possimus culpa at, error fuga ipsa rem pariatur.            </span>
            <button class="btn-dark blue">
                Let's talk
            </button>
        </div>
    </div>
</section>