.why-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;

    .headline {
        font-size: 60px;
    }

    .why-me-info {
        display: flex;
        justify-content: space-between;
        width: 60%;

        .location-info {
            display: flex;
            justify-content: end;
            align-items: center;
            font-size: 30px;

            img {
                width: 74px;
                height: 64px;
            }
        }

        .about-me-text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
        }
    }
}

.half {
    width: 47%;
}